In [19]:
#Question 1:Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. 

email=input("Enter the email address:")
x=email.index("@")
print(email[x+1:len(email)-4],end='')

Enter the email address:tanushree.mukherjee@capgemini.com
capgemini

In [1]:
# Question 2:Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

x=input().split(',')
x.sort()
y=','.join(x)
print(y)

welcome,to,the,world,of,machine,learning
learning,machine,of,the,to,welcome,world

In [13]:
# Question 3: Create your own Jupyter Notebook for Sets.

set1={'apple','bat','cat','dog','elephant'}
print(set1)
set1.update(['India','Mango','Bird','apple'])
print(set1)
print(len(set1))
set1.remove('bat')
print(set1)
set1.pop()
print(set1)
set2={'kolkata','IIT'}
set3=set1.union(set2)
print(set3)
set4=set1.isdisjoint(set2)
print(set4)
set5=set1.intersection(set2)
print(set5)

{'elephant', 'bat', 'cat', 'dog', 'apple'}
{'Bird', 'elephant', 'bat', 'cat', 'dog', 'Mango', 'India', 'apple'}
8
{'Bird', 'elephant', 'cat', 'dog', 'Mango', 'India', 'apple'}
{'elephant', 'cat', 'dog', 'Mango', 'India', 'apple'}
{'kolkata', 'Mango', 'cat', 'dog', 'elephant', 'IIT', 'apple', 'India'}
True
set()

In [15]:
# Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

l=[1,2,3,4,6,7,8,9,10]
sum1=0
for y in l:
    print(y,end=' ')
for x in range(0,len(l)):
    sum1=sum1+l[x] 
sumtotal=sum(range(1,11))
print('\n',sumtotal-sum1)

1 2 3 4 6 7 8 9 10
 5

In [17]:
# Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order

l=[1,2,3,1,2,4,5,3,6,5]
print(list(set(l)))

[1, 2, 3, 4, 5, 6]